
/* Import Global css */

@import "/home/imad/Desktop/Drone/drone/src/assest/global.css";

body {
  line-height: 1.5;
  font-family: var(--font-family-1);
}



.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.footer {
  background-color: var(--main-dark-color);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  margin-right: 40px;
}

.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--orange-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: var(--gris-color);
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: white;
  padding-left: 8px;
}

.footer-col .social-links a {
  font-size: 40px;
  display: inline-block;
  justify-content: space-between;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 0px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: var(--main-dark-color);
  background-color: #ffffff;
}



.footer{ 
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 300px;
}