
/* Import Global css */

@import "/home/imad/Desktop/Drone/drone/src/assest/global.css";

/* start Global Rules */
body {
  font-family: var(--font-family-1);
  font-family: var(--font-family-2);
  background-color: var(--main-light-color);
}


/* start Header NavBar */


.NavBar {
  padding: 20 px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-dark-color);
  max-height: 70px;
  font-family: var(--font-family-1);
  font-family: var(--font-family-2);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: +4;
}


.Logo {
  color: white;
  font-size: 30px;
  padding-left: 35px;
  padding-bottom: 5px;
  font-style: oblique;
}

.I {
  color: var(--orange-color);
  font-size: 50px;

}

.C {
  color: var(--orange-color);
  font-size: 40px;


}

.Pages {
  padding-right: 30px;
  font-size: 20px;
}

.Pages a {
  color: white;
  text-decoration: none;
  margin-right: 150px;
  position: relative;
  font-weight: 800;
  display:inline-block;
}


a {
  background-image: linear-gradient(to right,
      #54b3d6,
      #54b3d6 46%,
      var(--main-dark-color) 50%);
  /* background-color: var(--main-dark-color); */
  background-size: 200% 100%;
  background-position:calc(100%) ;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  background-color: #54b3d6;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
  /* background-color: var(--main-dark-color); */
}

.Pages a i{
  color: white;
  position: relative;
  padding-left: 0px;
  display:inline-block;
  font-size: 1.3em;
}



.Pages :nth-child(3) i{
  font-size: 22px;
  position: relative;
}


/* .container-3 {
  background-color: var(--main-dark-color);
} */

